.border {
    border-radius: 10px;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(12, 37, 4, 0);
}

.card {
    cursor: grab;
    position: 'absolute';
    bottom: 0;
    transform-origin: 'bottom center';
    transform: 'translateY(10px) rotate(1deg)';
}
.card:nth-child(2) {
    transform: translateY(10px) rotate(1deg);
}

.card:nth-child(3) {
    transform: translateY(20px) rotate(2deg);
}

.card:nth-child(4) {
    transform: translateY(30px) rotate(3deg);
}
